html,
body {
  margin: 0;
}
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -webkit-user-select: none;
}
html,
body {
  height: 100%;
  overflow: hidden;
}

.common-main {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

svg path {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.cover-title {
  position: fixed;
  width: 100%;
  left: 0;
  top: 1rem;
  z-index: 10;
  text-align: right;
  padding: 0 50vw 0 0;
  font-size: clamp(12px, 3vw, 24px);
  font-weight: bold;
  line-height: 1;
  pointer-events: none;
  box-sizing: border-box;
}
.cover-title::after {
  content: '';
  display: inline-block;
  width: 0.25em;
}

.common-section {
  height: 100%;
  overflow: hidden;
  scroll-snap-align: start;
}
.common-section_title {
  position: absolute;
  top: 1rem;
  left: 0;
  width: 100%;
  text-align: left;
  padding: 0 0 0 50vw;
  font-size: clamp(12px, 3vw, 24px);
  font-weight: bold;
  box-sizing: border-box;
  line-height: 1;
  color: orangered;
}
.common-section_inner {
  height: 100%;
  width: 100%;
  position: relative;
  pointer-events: none;
}

.moving-object {
  max-width: 40em;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-height: 100%;
  aspect-ratio: 1;
}
.moving-object_box {
  position: relative;
  transition: transform 0.1s;
}
.moving-object_box.-reverse {
  transform: scaleX(-1);
}

.page-menu {
  position: fixed;
  left: 1rem;
  top: 50%;
  list-style: none;
  padding: 0;
  margin: 0;
  transform: translateY(-50%);
}
.page-menu_item {
  height: 16px;
}
.page-menu_item > a {
  font-size: 8px;
  width: 1em;
  height: 1em;
  display: inline-block;
  background: lightgrey;
  border-radius: 0.5em;
}

.page-menu_item > a.-active {
  background: orangered;
}
